@import '../../../style/custom.scss';
@import '../../../style/main.scss';
body {
  background-color: #f5f3f4;
}
.In-the-car {
  width: 1440px;
  margin: 0 auto;
  .icons {
    width: 730px;
    height: 45px;
    margin: 48px auto 32px auto;
    display: flex;
    justify-content: center;
    a {
      color: #707070;
    }
    svg {
      width: 40px;
      height: 40px;
    }
    div {
      display: flex;
    }
    p {
      line-height: 40px;
      margin-left: 24px;
    }
    .arrow {
      color: #040404;
      margin: 0 24px;
    }

    a,
    p {
      color: #4464be;
    }
  }
  .ticket-buy {
    display: flex;
    width: 1080px;
    margin: 0 auto;
    flex-direction: column;

    .ticket-title {
      display: flex;
      h4 {
        margin-right: 16px;
      }
    }
    .you-sure {
      width: 100%;
      background-color: white;
      border-radius: 6px;

      .table-head {
        width: 1000px;
        display: flex;
        margin: 13px auto;
        text-align: center;
        div {
          flex: 1 0 0;
        }
      }
      hr {
        width: 1000px;
        color: #707070;
      }
      .chose-your-ticket {
        width: 1000px;
        height: 80px;
        background-color: #f0efe6;
        margin: 36px auto;
        display: flex;
        text-align: center;
        div {
          margin: 23px 0;
          flex: 1 0 0;
        }

        .how-many-ticket {
          display: flex;
          justify-content: space-around;

          p {
            line-height: 35px;
          }

          svg {
            width: 35px;
            height: 35px;
            color: #4464be;
          }
          .minus-and-plus {
            width: 35px;
            height: 35px;
            padding: 0 0;
            border-radius: 50%;
          }
        }
        .pay-for-it {
          justify-content: center;
          display: flex;

          h3 {
            margin-right: 16px;
          }
        }
      }

      //  以下為 step1 獨有
      .how-much {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .subtotal {
          width: 130px;
          display: flex;
          justify-content: space-between;
          margin-right: 32px;
        }
        .total {
          width: 190px;
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          margin-right: 32px;
        }
        .btn-zone {
          margin: 32px 0;

          Button {
            width: 135px;
            height: 40px;
            margin-right: 32px;
            font-size: 14px;
          }
          .cancel {
            color: #000;
          }
        }
      }
      // 以上為 step1 獨有

      // 以下為 step2 獨有

      .about-member {
        margin-top: 32px;
        margin-bottom: 16px;
        margin-left: 40px;
      }
      .step2-member-from {
        width: 1000px;
        margin-left: 40px;
      }
      .pay-form {
        margin-left: 40px;
        display: flex;

        .pay-icon {
          margin-right: 8px;
          svg {
            width: 30px;
            height: 20px;
          }
        }
      }
      .check-and-btn {
        display: flex;
        margin: 64px auto 32px auto;
        justify-content: space-between;
        .warning {
          padding: 0 0;
          margin-left: 40px;
          margin-top: 10px;
          input {
            width: 15px;
            height: 15px;
          }
          label {
            font-size: 14px;
          }
        }
        .btn-zone {
          font-size: 14px;
          Button {
            width: 120px;
            height: 40px;
            margin: 0 16px;
          }
        }
      }
      // 以上為 step2 獨有
    }
  }
  .step3-main {
    width: 730px;
    margin: 32px auto;

    .done {
      margin-bottom: 8px;
      color: $info;
    }
    .show-the-product {
      width: 100%;
      background-color: #ffffff;
      padding: 24px;

      .product-number {
        display: flex;
        margin-bottom: 40px;

        h3 {
          margin-right: 16px;
        }
      }
      .inside-detail {
        display: flex;
        flex-direction: column;
        hr {
          width: 650px;
          color: #707070;
          margin-top: 0;
          margin-bottom: 40px;
        }
        div {
          display: flex;
          justify-content: space-between;
          h4 {
            flex: 1 0 0;
            text-align: right;
            margin-right: 40px;
            margin-bottom: 0;
          }
          h5 {
            flex: 2 0 0;
          }
        }
        .gohome {
          align-self: flex-end;
          margin-bottom: 8px;
          margin-right: 16px;
          .btn-info {
            width: 150px;
            height: 40px;
          }
        }
      }
    }
  }
}
