.modal-content {
    //position: relative;
    //margin-left: -200px;
    // display: flex;
    // flex-direction: column;
    width: 162%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    // color: $modal-content-color;
    // pointer-events: auto;
    // background-color: $modal-content-bg;
    // background-clip: padding-box;
    // border: $modal-content-border-width solid $modal-content-border-color;
    // @include border-radius($modal-content-border-radius);
    // @include box-shadow($modal-content-box-shadow-xs);
    // Remove focus outline from opened modal
    //outline: 0;
}
.member-List-modal-box{
    //position: relative;
    // top: -730px;
    // left: -785px;
    margin-top: 10px;
    margin-left: -200px;
    // width: 162%;
}
//表單確定按鈕樣式
.member-List-btn-enter {
    border: none;
    background: #8FC69A;
}