//個人資料樣式
.mefed-form-check {
  padding: 10px;
  margin-left: 5px;
  width: 4rem;
}
.memed-submit{
    position: absolute;
    right: 0px;
    width: 120px;
}
.modal-body{
  .btn{
    background: #8fc69a;
  }
}
.med-add-text-red{
  color: red;
}
