.FunctionBar {
  width: 810px;
  margin: 1rem auto;
  a {
    font-family: 'Noto Sans TC';
    font-size: 20px;
    margin: 0 27px;
  }
}
//左右兩側
.article {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}
.section {
  margin-right: 1rem;
}