.FunctionBar {
  width: 810px;
  margin: 1rem auto;
  a {
    font-family: 'Noto Sans TC';
    font-size: 20px;
    margin: 0 27px;
  }
}

.article {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  margin-right: 1rem;
}
