thead {
  text-align: center;
  font-family: 'Noto Sans TC';
  color: #707070;
  font-size: 16px;
}

tbody {
  text-align: center;
  font-family: 'Roboto';

  th {
    font-size: 16px;
  }
  td {
    font-size: 14px;
  }
  button {
    width: 80px;
    height: 30px;
    border-radius: 3px;
    background-color: #4464be;
    color: #ffffff;
    border: 1px solid transparent;
    font-family: 'Noto Sans TC';
    font-size: 14px;
  }
}
.page {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -80px;
}
