.homesearchbar-wrapper {
  width: $searchbar-width;
  height: $searchbar-height;
  background: #fff;
  box-shadow: 0 3px 6px rgba($color: $sub-dark-gray, $alpha: 0.6);
  border-radius: 50px;
  padding-left: 12px;
  margin: 16px auto;
  opacity: 0.9;
}
.homesearchbar-form-wrapper {
  width: $searchbar-width - $searchbar-height;
}
.homesearchbar-area {
  width: 100px;
  box-shadow: 0 0 2px black;
  transition: 0.3s;
}
.homesearchbar-town {
  width: 150px;
  box-shadow: 0 0 2px black;
  transition: 0.3s;
}
.homesearchbar-day {
  width: 200px;
  box-shadow: 0 0 2px black;
  transition: 0.3s;
}
.homesearchbar-day :focus {
  outline: none !important;
  box-shadow: 0 0 8px black;
  outline: none !important;
  box-shadow: 0 0 8px black;
}
.homesearchbar-input {
  width: 100%;
  box-shadow: 0 0 2px black;
  transition: 0.2s;
}
.homesearchbar-input:focus {
  outline: none !important;
  box-shadow: 0 0 8px black;
}
.homedo-search-button {
  width: $searchbar-height;
  height: $searchbar-height;
  border-radius: 50%;
  background-size: 70%;

  background-color: $main-lightblue;
  background-image: url(http://localhost:3000/images/paperPlane.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
}
.homedo-search-button:hover {
  background-color: #3fafd9;
}
