//正式
.itin-close-wrap {
  .btn {
    height: 36px;
  }
  h1 {
    margin: 0;
  }
}
//地圖相關
.map-comp-wrapper {
  position: relative;
}
.map-search-wrapper {
  position: absolute;
  top: 50px;
  right: 50px;
}
//editor相關
.itin-editor-title {
  width: $itineditor-width;
  background: $sub-gray;
  padding: 32px;
  p {
    margin-bottom: 16px;
  }
  input {
    width: 400px;
    margin: 0;
  }
  &.publish-title {
    width: 100%;
    padding: 48px 0;
    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
      margin-bottom: 16px;
    }
    .btn {
      width: 100px;
      margin-left: 32px;
    }
  }
}
.itin-editor-wrapper {
  width: $itineditor-width;
  background: #fff;

  .itin-editor-daybox {
    height: 80px;
    border-radius: 4px;
    background: $main-darkblue;
    color: #fff;
    padding: 0 32px;
    margin-bottom: 2px;
    font-size: 20px;
    transition: 0.2s;
    &.daybox-close {
      height: 40px;
      + .itin-editor-spotsWapper {
        display: none;
      }
    }
  }
  .itin-editor-spotsWapper {
    background: #fff;
    padding: 8px 0 16px;
  }
  .box-close-btn:hover {
    svg {
      color: $main-red;
    }
  }
}
.itin-editbar-wrapper {
  max-width: 450px;
  min-height: 130px;
  margin-top: 32px;
  background: transparent;
  .itin-editbar-btnwapper {
    width: 100%;
    padding: 16px;
    background: $sub-gray;
    border-radius: 6px;
    margin: 0 12px;
  }
  .btn {
    width: 120px;
  }
  input {
    margin-top: 15px;
    width: 100%;
  }
  .itin-editbar-searchresult {
    width: 100%;
    margin: 0 12px;
    padding: 8px 16px;
    cursor: pointer;
    &:hover {
      background: $sub-silver;
    }
  }
}
.itin-detail-wrapper {
  border-radius: 6px;
  background: #fff;
  width: 564px;
  padding: 32px 50px;
  textarea {
    width: 100%;
    min-height: 100px;
  }
  .itin-pic-input {
    width: 0;
    opacity: 0;
  }
  .detailPic {
    height: 250px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
}

//box相關
.spotsbox-wrapper {
  width: 480px;
  min-height: 80px;
  background: $main-gray;
  padding: 6px 8px;
  margin: 16px auto;
  h3,
  h4 {
    margin: 0;
  }
  svg {
    margin: 0 12px;
    margin-bottom: 3px;
  }
  input {
    font-size: 20px;
    display: inline;
    margin: 0;
  }
  .box-input-title {
    margin-left: 8px;
    width: 210px;
  }
  .box-close-btn {
    cursor: pointer;
    &:hover {
      svg {
        color: $main-red;
      }
    }
  }
}
//測試用
.testDragBox {
  border: 1px solid transparent;
  p,
  h4 {
    margin: 0;
  }
}
.testDropArea {
  background: red;
  list-style: none;
  padding: 20px;
  margin: 0;
}
.testMapWrap {
  height: 100vh;
  width: 100vw;
}
// 檔案負責人: 柯政安
