//正式
//地圖相關
.map-comp-wrapper {
  position: relative;
}
.map-search-wrapper {
  position: absolute;
  top: 50px;
  right: 50px;
}
//box相關
.spotsbox-wrapper {
  width: 480px;
  min-height: 80px;
  background: $main-gray;
  padding: 6px 8px;
  h3,
  h4 {
    margin: 0;
  }
  svg {
    margin: 0 12px;
    margin-bottom: 3px;
  }
  input {
    font-size: 20px;
    display: inline;
    margin: 0;
  }
  .box-input-title {
    margin-left: 8px;
    width: 210px;
  }
  .box-close-btn:hover {
    svg {
      color: $main-red;
    }
  }
}
//測試用
.testDragBox {
  border: 1px solid #000;
  margin-bottom: 10px;
  p,
  h4 {
    margin: 0;
  }
}
.testDropArea {
  background: red;
  list-style: none;
  padding: 20px;
  margin: 0;
}
.testMapWrap {
  height: 100vh;
  width: 100vw;
}
// 檔案負責人: 柯政安
