//bootstrap樣式
@import './custom.scss';
//
//SCSS變數宣告區
//顏色相關
$main-gray: #e9edf0;
$main-red: #f9669c;
$main-lightblue: #46beeb;
$main-darkblue: #4464be;
$sub-gray: #f5f3f4;
$sub-silver: #f0efe6;
$sub-green: #8fc69a;
$sub-dark-gray: #707070;
$font-black: #040404;

//卡片相關
$card-widhth: 350px;
$card-height: 450px;
$card-figure-height: 240px;
$card-button-height: 50px;
$card-content-height: 110px;
$card-border-radius: 10px;
//searchbar相關
$searchbar-width: 1080px;
$searchbar-height: 65px;
//變數區結尾

//文字相關
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto&display=swap');
//標準字級
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
p {
  margin: 0;
}
p.content-small {
  font-size: 14px;
}

//
//tag樣式
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 500;
  background-color: $main-gray;
}

//class樣式
//組件
.test-wrap {
  padding: 100px;
}
.form-custom {
  //表單設計樣式
  height: 45px;
  border: 1px solid $main-gray;
  border-radius: 3px;
  padding: 10px 16px;
  margin: 0 12px;
}
//card
@import './card.scss';

//searchbar
@import './searchbar.scss';

// 評分星星
@import './star-rating.scss';

// 左邊的會員
@import './person.scss';

// 月曆的
@import './calendar.scss';

// 上面那條導覽
@import './function-bar.scss';

// header

.navbar {
  height: 80px;
  width: 100%;

  img {
    margin-left: 64px;
    height: 60px;
    width: 150px;
  }
}
.navbar-collapse {
  justify-content: flex-start;

  .center-text {
    flex: 1 0 0;
    justify-content: center;

    p {
      font-size: 20px;
      padding: 0 48px;
    }
  }
  .icons {
    flex: 0 0 0;
  }
}
.nav-link {
  p {
    color: #fff;
    font-size: 20;
    font-family: 'Noto Sans TC';
  }
  img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 28px;
    margin-right: 32px;
  }
  svg {
    width: 25px;
    height: 30px;
    margin: 0 14px;
    color: #fff;
  }
}
