@import './custom.scss';
//bootstrap樣式
//
//SCSS變數宣告區
//顏色相關
$main-gray: #e9edf0;
$main-red: #f9669c;
$main-lightblue: #46beeb;
$main-darkblue: #4464be;
$sub-gray: #f5f3f4;
$sub-silver: #f0efe6;
$sub-green: #8fc69a;
$sub-dark-gray: #707070;
$font-black: #040404;

//卡片相關
$card-widhth: 350px;
$card-height: 450px;
$card-figure-height: 240px;
$card-button-height: 50px;
$card-content-height: 110px;
$card-border-radius: 10px;
//searchbar相關
$searchbar-width: 1200px;
$searchbar-height: 65px;
//變數區結尾

//文字相關
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto&display=swap');
//標準字級
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
p {
  margin: 0;
}
p.content-small {
  font-size: 14px;
}

//
//tag樣式
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 500;
  background-color: $main-gray;
}

//class樣式
//組件
.test-wrap {
  padding: 100px;
}
.form-custom {
  //表單設計樣式
  height: 45px;
  border: 1px solid $main-gray;
  border-radius: 3px;
  padding: 10px 16px;
  margin: 0 12px;
}
.custom-box-shadow {
  box-shadow: 0 3px 6px rgba($color: $sub-dark-gray, $alpha: 0.6);
}

// header
@import './header.scss';

//footer
@import './footer.scss';

// home
@import './home.scss';

//memberPage
@import './memberPage.scss';

//card
@import './card.scss';

//searchbar
@import './searchbar.scss';

// 評分星星
@import './star-rating.scss';

// 左邊的會員
@import './person.scss';

// 月曆的
@import './calendar.scss';

// 上面那條導覽
@import './function-bar.scss';

// 訂單紀錄 Table
@import './hirstory-table.scss';

//行程相關
@import './itinerary.scss';

// header
@import './header.scss';

//footer
@import './footer.scss';

// 訂單紀錄 Table
@import './hirstory-table.scss';

// 商品總攬頁排版
@import './productList.scss';

//通知表單&我的帳戶
.notice-style {
  background: #ffffff;
  border-radius: 6px;
  max-width: 810px;
  box-shadow: 0 3px 6px #000;
  padding-bottom: 10px;
}

//會員收藏
.me-favorites-style {
  background: #ffffff;
  text-align: left;
  margin: 1rem;
  border-radius: 6px;
  .me-favorites-back-style {
    max-width: 810px;
    max-height: 156px;
    background: #e9e9e9;
  }
}
//會員收藏列表
.Link-Me-Favorites {
  max-width: 710px;
  margin: 1rem auto;
  a {
    font-family: 'Noto Sans TC';
    font-size: 16px;
    margin: 1rem 1rem;
  }
}
//收藏卡片樣式
.card-style-mef {
  width: 80px;
  height: 26px;
  background-color: $main-red;
  color: #fff;
  border-radius: 16px;
  text-align: center;
}
.mef-icno-style {
  margin-top: 1rem;
}
//我的帳戶標題
.MyAccount-title {
  padding: 1rem;
  margin: 1rem;
}

//Carousel
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
.carousel-main {
  position: relative;
  width: 1440px;
  height: 360px;
  overflow: hidden;
  text-align: center;
  margin: 21px auto;
}
.carousel-outbox {
  position: relative;
}
.carousel-slide img {
  width: 872px;
  height: 360px;
  margin: 0px auto;
}
.carousel-slide {
  transform: scale(0.9);
  margin: 0px auto;
  top: 50%;
}
.carousel-active-slide {
  transform: scale(1);
  margin: 0px auto;
}

//新增揪團
@import './addTravelBuddies.scss';
