//收藏卡片樣式
.card-style-mef{
    width: 80px;
    height: 26px;
    background-color: $main-red;
    color: #fff;
    border-radius: 16px;
    text-align: center;
  }
  .mef-icno-style{
    margin-top: 1rem;
  }