.page-link {
  color: #fff;
  background-color: $info;
  border-radius: 5px;
}
.page-item.active .page-link {
  background-color: transparent;
  color: $info;
  border: 1px solid transparent;
}
.page-item {
  margin: 0 3px;
}
