.travelbuddies-chatroom-wrapper {
  width: 1080px;
  height: auto;
  margin: 0 auto;
  padding-top: 70px;
  h1 {
    font-size: 36px;
    color: $font-black;
  }
  .travelbuddies-chatroom-itinerary {
    width: 550px;
    height: 680px;
    margin-right: 30px;
    background: pink;
  }
  .travelbuddies-chatroom-main {
    width: 500px;
    height: 680px;
    background: #ffffff;
    border: 1px solid $font-black;
    border-radius: 10px;
    h3 {
      font-size: 26px;
      color: $sub-dark-gray;
    }
    .travelbuddies-chatroom-hr {
      width: 450px;
      margin: 0 auto;
    }
    .travelbuddies-chatroom-maincontent {
      overflow: auto;
    }
  }
}
